html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-image: url("../background.jpeg");
	background-size: cover;
	background-repeat: repeat-y;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

.btn-outline-primary {
	color: rgb(255, 0, 212);
	border-color: magenta;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: rgba(255, 0, 255, 0.404);
	border-color: magenta;
	animation: glow 1s ease-in-out infinite alternate;
}

.error {
	color: red;
}

.glow {
	animation: glow 1s ease-in-out infinite alternate;
}
.glow:hover {
  animation: none;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.glowy-spinner {
	color: rgba(230, 122, 230, 0.616);
	font-size: 3em;
	width: 5em; height: 5em;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.footer-background {
  background-color: rgb(124, 104, 238);
}

.highlight {
  color: rgb(255, 152, 174);
}

.blur-sheet {
  height: 92.1vh;
  background-image: linear-gradient(
    to right top,
    rgb(0, 0, 0),
    rgba(99, 26, 182, 0.904)
  );
}

.pointer {
  cursor: pointer;
}

.glassy-card {
  background: rgba(255, 255, 255, 0.247) !important;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.glassy-card-dark-purple {
  background: rgba(51, 8, 87, 0.637) !important;
	overflow-y: auto;
}
.glassy-card-black {
  background: rgba(0, 0, 0, 0.308) !important;
	box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
}
.glassy-font {
	color: rgba(0, 0, 0, 0.377);
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
